.dropzone:empty {
    color: #ccc;
    min-height: 40px;
    border-style: dashed;
    border-color: #ccc;
    text-align: center
}

.dropzone:empty:before{
    content: "glisser ici";
    font-size: 20px;
    margin-top:5px;
    margin-bottom:5px;
}

.ol-overlaycontainer-stopevent{
    display: none !important;
}

.theme-btn {
    margin-right: 5px;
    margin-left: 5px;
}